<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
<ion-row class="header">
<ion-col>ID</ion-col>
<ion-col>Nombre</ion-col>
<ion-col>Unidades</ion-col>
<ion-col>Precio</ion-col>
<ion-col>Foto</ion-col>
</ion-row>
<ion-row *ngFor="let product of productos">
<ion-col>{{product.id}}</ion-col>
<ion-col>{{product.nombre}}</ion-col>
<ion-col>{{product.unidades}}</ion-col>
<ion-col>{{product.precio}} €</ion-col>
<ion-col>
<img [src]="product.foto" width="80">
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
