<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Corporate home</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-segment>
<ion-segment-button routerLink="/productos">
<ion-label>Productos</ion-label>
</ion-segment-button>
<ion-segment-button routerLink="/nosotros">
<ion-label>Nosotros</ion-label>
</ion-segment-button>
<ion-segment-button routerLink="/contacto">
<ion-label>Contacto</ion-label>
</ion-segment-button>
</ion-segment>
  
</ion-content>
