<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="guardar()">Probar servicio enviar mensaje</ion-button>
  <ion-button (click)="leer()">Probar servicio leer mensajes</ion-button>
  <ion-button (click)="consultar()">Probar servicio consultar plataforma</ion-button>

  <ion-item>
    <ion-input [(ngModel)]="correo" name="correo" placeholder="Correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="mensaje" name="mensaje" placeholder="Mensaje"></ion-textarea>
  </ion-item>
<ion-button (click)="enviar()">Enviar</ion-button>


</ion-content>
